<head>
    <script src="{{ url_for('blueprint.static', filename='p5.min.js') }}"></script>
    <script type="module" src="{{ url_for('blueprint.static', filename='canvas/sketch.js') }}"></script>
    <script type="module" src="{{ url_for('blueprint.static', filename='react-app.js') }}"></script>

    <link rel="stylesheet" href="https://unpkg.com/@blueprintjs/icons@5/lib/css/blueprint-icons.css" />
    <link rel="stylesheet" href="https://unpkg.com/@blueprintjs/core@5/lib/css/blueprint.css" />

    <!-- This style makes the p5 canvas fill the entire page. -->
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        #study-container {
            position: fixed;
            top: 0; left: 0;
            width: 100vw;
            height: 100vh;
        }
        #react-container {
            display: none;
            position: fixed;
            top: 0; left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 10;
            background: #fff;
        }
    </style>
</head>
<body>
    <!-- Plain html can be included here to show some text above the task 
     window. -->
     <p>Press Enter to enter fullscreen mode and begin the task.</p>
    <!-- <h1>{{condition_name}} Task</h1>
    
    <p>This is a simple custom page. You control the navigation.</p>
    
    <p>Use this for tasks, interactive content, or any page where you need
    full control over when participants can proceed.</p> -->
    
    <!-- This script warns participants if they try to leave the page before
     finishing the task. -->
    <script>
        let finished = false;
        window.addEventListener("beforeunload", function (e) {
            if (!finished) {
                // Trigger the warning dialog
                e.preventDefault();
                e.returnValue = "";
            }
        });
    </script>

    <!-- Global variables declared here are available in the p5 sketch. -->
    <script id="global-variables">
        const condition_name = "{{condition_name}}";
        const order_number = "{{participant.condition}}";
    </script>

    <!-- This div is used by the p5.js sketch to place the canvas.  -->
    <div id="study-container"></div>
    <div id="react-container"></div>

    <!-- This button links to the next page (may not be necessary). -->
    <p><a href="/redirect_next_page" class="btn btn-primary">Continue</a></p>
</body>
